
body{
	font-family: 'Roboto', sans-serif;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header{
	background-image:  url("../media/fondo/bg-header.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
 }

 .img-logo{
    width: 80px;
}
.header::after{
	content: "";
	display: block;
	width: 100%;
	height: 10px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
}
 .linear-white::after{
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color:white;
        position: absolute;
        left: 0;
        bottom: 0;
 }
 .card {
	-webkit-transition-duration: .6s;
	        transition-duration: .6s;
	-webkit-clip-path: polygon(
		50% 0,
		100% 0,
		100% 50%,
		100% 100%,
		50% 100%,
		0 100%,
		0 50%,
		0 0
	);
	        clip-path: polygon(
		50% 0,
		100% 0,
		100% 50%,
		100% 100%,
		50% 100%,
		0 100%,
		0 50%,
		0 0
	);
}
.card-effect:hover .card {
	-webkit-clip-path: polygon(
		50% 0,
		50% 0,
		100% 50%,
		100% 50%,
		50% 100%,
		50% 100%,
		0 50%,
		0 50%
	);
	        clip-path: polygon(
		50% 0,
		50% 0,
		100% 50%,
		100% 50%,
		50% 100%,
		50% 100%,
		0 50%,
		0 50%
	);
}
.vh-50{
    height: 50vmin;
    
}

.card-img-filter{
	filter: brightness(0.5);
}


footer{
    background: #414141;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}
.content-foo{
    text-align: center;
    h5{
        color: white;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
        p{
            color: #ccc;
        }
    }
}
.titulo-final-footer{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9e9e;
}

@media screen and  (min-width: 375px){
	.vh-50{
		height: 50vmax;
	}
}
@media screen and  (max-width: 450px){
	.vh-50{
		height: 55vmax;
	}
}


@media (min-width: 768px) {
	.carousel-caption {
	  height: 450px;
	}
  }